body{
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.navbar{
    display:flex;
    list-style: none;
    padding:0;
    margin:5px;
    justify-content: flex-end;
    position:sticky;
    top: 0;           /* Stick exactly at the top of the screen */
    z-index: 1000;    /* Keep it above other content, read about this before presentation */
    background: transparent;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    padding:0px;
    margin:0px;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align:center;

}
.navbar li{
    float:left;
}

.transparent-btn{
    display:grid;
    margin: 0 auto;
    background-color: transparent;
    border:0.5px solid blue;
    border-radius:30px;
}
.IntroPage{
 margin-top:50px;
 padding:100px;
}
.QuickNavigation{
    display:flex;
    justify-content: center;
    /* Justify content is used to position the box either to right or left */
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    padding:80px;
    /* flex-wrap controls how your flex boxes react when resized */
}
.Aboutme{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
.MyFavorites{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
.Hobbies{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
.Feedback{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
#Quick{
   text-align: center;
   margin-top:100px;
   padding:0;
}
.header{
    text-align: center;
    width:100%;
}
#Welcome{
    text-align:center;
    font-size:70px;
}
h4{
    display:flex;
    justify-content: center;
}
h2{
    display:flex;
    justify-content: center;
}
.buttons{
    display:flex;
    gap:50px;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    margin-bottom: -40px;

}
#mainp{
    font-size:20px;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
#AboutMe{
    text-align: center;
}
.contentofme{
    display:flex;
}
#profilep{
    text-align:center;
}
.AboutMeProfile{
    padding:20px;
    margin:15px;
}
img{
    display:grid;
    margin: 0 auto;
    /* moves the image to the center */
}
.EducationalBackground{
    margin:20px;
    padding:10px;
    border-radius:30px;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    background-color: beige;
}
.Personality{
    margin:20px;
    padding:20px;
    border-radius:30px;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    background-color: beige;
}
.GoalsandAspirations{
    margin:20px;
    padding:10px;
    border-radius:30px;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    background-color: beige;
}
.Personality button{
    border-radius: 10px;
}
.Inspo-button{
    display:grid;
    background:transparent;
    border-radius: 10px;
    border:0.5px solid grey;
    margin: 0 auto;
    cursor:pointer;
}
.Title{
    padding:80px;
    margin:50px;
}
#fav{
    text-align: center;
    font-size:70px;
}
#things{
    text-align: center;
    font-size:20px;
    margin:30px;
    padding:10px;
}
.options {
    display:flex;
    gap: 150px;
    justify-content: center;

}
.options button{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
    width:300px;
    height:100px;
    flex-wrap: wrap;
    box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
}
.Movies{
    margin-top:200px;
}
#Moviexp{
    margin:50px;
    padding:0px;
    font-size:20px;
}
#Mov{
    display:flex;
    justify-content: center;
    padding:20px;
    margin-left:40px;
    margin-top:30px;
    font-size:50px;
}
#oldman{
    display:flex;
    margin-left:50px;
    font-size:40px;
}
#Dir{
    display:flex;
    margin-left:70px;
    justify-content: flex-start;
    font-size:25px;
}
.NoCountryImg{
    float:right;
    width:60%;
    height:auto;
    border-radius: 10px;
    margin-left:15px;
    margin-bottom:15px;
}
.NoCountryForOldMen{
    padding:20px;
    overflow:auto;
}
#oldmanp{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.TitleHobbies{
    font-size: 70px;
    border: 1px solid red;
}
.Hobbiesz{
    border:1px solid blue;
}
#hobbytitle{
  border: 1px solid blueviolet;
}
.inspir{
    border:1px solid red;
}
.Gym{
    border: 1px solid red;
}
.Coding{
    border:1px solid red;
}
.Reading{
    border:1px solid blue;
}
.Moviesz{
    border:1px solid red;
}
.Football{
    border:1px solid blue;
}
