body{
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.navbar{
    display:flex;
    list-style: none;
    padding:0;
    margin:5px;
    justify-content: flex-end;
    position:sticky;
    top: 0;           /* Stick exactly at the top of the screen */
    z-index: 1000;    /* Keep it above other content, read about this before presentation */
    background: transparent;
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
    padding:0px;
    margin:0px;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align:center;

}
.navbar li{
    float:left;
}

.transparent-btn{
    display:grid;
    margin: 0 auto;
    background-color: transparent;
    border:0.5px solid blue;
    border-radius:30px;
}
.IntroPage{
 margin-top:50px;
 padding:100px;
}
.QuickNavigation{
    display:flex;
    justify-content: center;
    /* Justify content is used to position the box either to right or left */
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    padding:80px;
    /* flex-wrap controls how your flex boxes react when resized */
}
.Aboutme{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
.MyFavorites{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
.Hobbies{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
.Feedback{
  border:2px solid blue;
  height:300px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:20px;
}
#Quick{
   text-align: center;
   margin-top:100px;
   padding:0;
}
.header{
    text-align: center;
    width:100%;
}
#Welcome{
    text-align:center;
    font-size:70px;
}
h4{
    display:flex;
    justify-content: center;
}
h2{
    display:flex;
    justify-content: center;
}
.buttons{
    text-align: center;
    margin-top:40px;
    margin-bottom: -40px;
}
#mainp{
    font-size:20px;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
}
#AboutMe{
    text-align: center;
}
.contentofme{
    display:flex;
}
#profilep{
    text-align:center;
}
.AboutMeProfile{
    padding:20px;
    margin:15px;
}
img{
    display:grid;
    margin: 0 auto;
    /* moves the image to the center */
}
.EducationalBackground{
    margin:20px;
    padding:10px;
    border-radius:30px;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    background-color: beige;
}
.Personality{
    margin:20px;
    padding:20px;
    border-radius:30px;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    background-color: beige;
}
.GoalsandAspirations{
    margin:20px;
    padding:10px;
    border-radius:30px;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    background-color: beige;
}
.Personality button{
    border-radius: 10px;
}
.Inspo-button{
    display:grid;
    background:transparent;
    border-radius: 10px;
    border:0.5px solid grey;
    margin: 0 auto;
    cursor:pointer;
}
.Title{
    padding:80px;
    margin:50px;
}
#fav{
    text-align: center;
    font-size:70px;
}
#things{
    text-align: center;
    font-size:20px;
    margin:30px;
    padding:10px;
}
.options {
    display:flex;
    gap: 80px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.options button{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
    width:300px;
    height:100px;
    box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
}
.Movies{
    margin-top:200px;
    border-radius: 20px;
    margin-left:60px;
    margin-right:60px;
    margin-bottom:100px;
    padding-top:20px;
    box-shadow: 10px 12px 15px 10px rgb(0, 0, 0, 0.3);
}
#Moviexp{
    margin:50px;
    padding:0px;
    font-size:20px;
}
#Mov{
    display:flex;
    justify-content: center;
    padding:20px;
    margin-left:40px;
    margin-top:30px;
    font-size:50px;
}
#oldman{
    display:flex;
    margin-left:50px;
    font-size:40px;
}
#Dir{
    display:flex;
    margin-left:70px;
    justify-content: flex-start;
    font-size:25px;
}
.NoCountryImg{
    float:right;
    width:60%;
    height:auto;
    border-radius: 10px;
    margin-left:15px;
    margin-bottom:15px;
}
.NoCountryForOldMen{
    padding:20px;
    overflow:auto;
}
#oldmanp{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.Shawshank{
    padding:40px;
    overflow:auto;
}
.Shawshankimg{
    float:left;
    width:60%;
    height:auto;
    border-radius: 10px;
    margin-left:15px;
    margin-bottom:15px;
}
#shawshankheader{
    font-size: 40px;
    text-align: left;
}
#shawshankdir{
    display:flex;
    margin-left:70px;
    justify-content: flex-start;
    font-size:25px;
}
#shawshankp{
  font-size:20px;
    overflow:auto;
    margin:30px;
}
.Prisoners{
  padding:40px;
  overflow:auto;
}
.Prisonersimg{
    Float:right;
    width:60%;
    height:auto;
    margin-right:15px;
    margin-bottom:15px;
}
#Prisonersheader{
    font-size: 40px;
    text-align: left;
}
#Prisonersdir{
    display:flex;
    margin-left:70px;
    justify-content: flex-start;
    font-size:25px;
}
#prisonersp{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.Books{
    margin-top:100px;
    border-radius: 20px;
    margin-left:60px;
    margin-right:60px;
    margin-bottom:100px;
    padding-top:20px;
    box-shadow: 10px 12px 15px 10px rgb(0, 0, 0, 0.3);
}
#Bookstitle{
    display:flex;
    justify-content: center;
    padding:20px;
    margin-left:40px;
    margin-top:30px;
    font-size:50px;
}
.Oromay{
  padding:40px;
  overflow:auto;
}
#Oromaytitle{
    font-size: 40px;
    text-align: left;
}
#Oromaydir{
    display:flex;
    margin-left:20px;
    justify-content: flex-start;
    font-size:25px;
}
.Oromayimg{
    Float:right;
    width:40%;
    height:auto;
    margin-right:15px;
    margin-bottom:15px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.3);
}
#Oromayp{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.CrimeandPunishment{
    padding:40px;
  overflow:auto;
}
#Crimetitle{
    font-size: 40px;
    text-align: left;
}
#Crimedir{
    display:flex;
    margin-left:20px;
    justify-content: flex-start;
    font-size:25px;
}
.CrimeandPunishmentimg{
    Float:left;
    width:40%;
    height:auto;
    margin-right:15px;
    margin-bottom:15px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.3);
}
#Crimep{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.Merbebt{
    padding:40px;
  overflow:auto;
}
#Merbebtitle{
    font-size: 40px;
    text-align: left;
}
#Merbebtdir{
    display:flex;
    margin-left:20px;
    justify-content: flex-start;
    font-size:25px;
}
#Merbebtp{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.Merbebtimg{
    Float:right;
    width:40%;
    height:auto;
    margin-right:15px;
    margin-bottom:15px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.3);
}
.Foods{
    margin-top:100px;
    border-radius: 20px;
    margin-left:60px;
    margin-right:60px;
    margin-bottom:100px;
    padding-top:20px;
    box-shadow: 10px 12px 15px 10px rgb(0, 0, 0, 0.3);
}
#Foodstitle{
    display:flex;
    justify-content: center;
    padding:20px;
    margin-left:40px;
    margin-top:30px;
    font-size:50px;
}
.BBQ{
     padding:40px;
  overflow:auto;
}
#BBQtitle{
  font-size: 40px;
    text-align: left;
}
#BBQp{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.BBQimg{
   Float:right;
    width:40%;
    height:auto;
    margin-right:15px;
    margin-bottom:15px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.3);
}
.Kitfo{
    padding:40px;
  overflow:auto;
}
#kitfotitle{
    font-size: 40px;
    text-align: left;
}
.Kitfoimg{
    float:left;
    width:40%;
    height:auto;
    margin-right:15px;
    margin-bottom:15px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.3);
}
#kitfop{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.Tibs{
    padding:40px;
  overflow:auto;
}
#Tibstitle{
    font-size: 40px;
    text-align: left;
}
#Tibsp{
    font-size:20px;
    overflow:auto;
    margin:30px;
}
.Tibsimg{
    Float:right;
    width:40%;
    height:auto;
    margin-right:15px;
    margin-bottom:15px;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.3);
}
.TitleHobbies{
   padding:80px;
   margin:50px;
   text-align: center;
}
.Hobbiesz{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
    padding:80px;
}
#hobbytitle{
  font-size: 70px;
  text-align: center;
}
#lovetime{
    font-size:30px;
    text-align: center;
}
.gradientc{
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background: linear-gradient(to right, #6EE7B7, #FDE68A, #F97316);
    margin: 10px auto;
    display:grid;
}
#worki{
    text-align: center;
    font-size:20px;
    margin:30px;
    padding:30px;
    border-radius: 20px;
    box-shadow: 10px 12px 15px rgb(0, 0, 0, 0.3);
    overflow: auto;
}
.lookhobb{
    width:100px;
    height:30px;
    border-radius: 10px;
    margin-top: 30px;
}
.Gym{
  border:2px solid blue;
  height:450px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:40px;
  margin:20px;
  overflow: auto; /* adds a scroll bar when content moves out of the div's edge */
}
.Coding{
  border:2px solid blue;
  height:450px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:40px;
  margin:20px;
  overflow: auto;
}
.Reading{
  border:2px solid blue;
  height:400px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:40px;
  margin:20px;
  overflow: auto;
}
.Moviesz{
  border:2px solid blue;
  height:400px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:40px;
  margin:20px;
  overflow: auto;
}
.Football{
  border:2px solid blue;
  height:400px;
  width: 300px;
  border-radius:30px;
  box-shadow: 0 12px 15px rgb(0, 0, 0, 0.3);
  font-size:20px;
  padding:40px;
  margin:20px;
  overflow: auto;
}
#Moviemoji{
    text-align: center;
    font-size:40px;
}
#codingemoji{
    text-align: center;
    font-size:40px;
}
#bookemoji{
  text-align: center;
  font-size:40px;
}
#Gymemoji{
  text-align: center;
  font-size:40px;
}
#Footballemoji{
  text-align: center;
  font-size:40px;
}
.hobbyending{
    margin:30px;
    padding:30px;
    border-radius: 20px;
    box-shadow: 0 12px 15px 10px rgb(0,0,0,0.3);
}
.Feedheader{
    text-align: center;
    margin:30px;
    padding:20px;
}
#GetinTouch{
    font-size:70px;
}
#feedparag{
    margin:40px;
    font-size:25px;
}
.Formandsidecontainer{
    display:flex;
}
.side-container{
    width:60%;
}
.Form-container{
    width: 100%;
    height: 600px;
    padding: 50px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 12px 15px 10px rgb(0,0,0,0.3);
    overflow: auto;
}
.Contact-info{
    border-radius:10px;
    box-shadow: rgb(0, 0, 0, 0.8);
    border-radius:20px;
    width:60%;
    height:auto;
    margin:30px;
    padding:10px;
    box-shadow: 0 12px 15px 10px rgb(0,0,0,0.3);
    overflow: auto;
}
#Emailicon{
    float:left;
    width:40px;
    height:40px;
    margin:0px;
    padding-right:15px;
}
#Cinfo{
    padding-left:20px;
}
#Gmail{
    margin-top:30px;
}
#irespond{
   text-align: left;
   padding-left:30px;
   margin-top:10px;
}
#typical{
    margin:10px;
}
.Name-form{
  margin:10px;
  padding:10px;
}
.Email-form{
    margin:10px;
    padding:10px
}
.Message-form{
    margin:10px;
    padding:10px;
}
#Name{
    width: 100%;
    height:40px;
    margin-top:20px;
    padding:10px;
}
#Email{
    width: 100%;
    height:40px;
    margin-top:20px;
    padding:10px;
}
#comment{
    width: 100%;
    height:40px;
    margin-top:20px;
    margin-bottom: 25px;
    padding:10px;
}
.Form-container .send{
    width:100%;
    height: 45px;
    border-radius: 15px;
}
.reach{
    text-align: center;
    margin:40px;
    padding:10px;
    font-size: 40px;
}
.Formandsidecontainer .list{
    display:flex;
    gap:40px;
    flex-direction: column;
    list-style-type:none;
    font-size:25px;
    padding:50px;
    margin:10px;
}
